 body {
               background-color: #e4e7f0;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                min-height: 100vh;
            }
            #Task {
                width:100;
            background-color: #e4e7f0;
            height: auto;
            border: #3c405a;
            }

            .tableClass {
            width: 90%;
            margin: 20px auto;
            border-collapse: collapse;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            box-shadow: #c6cae4;

        }

        .TaskHeader {
            caption-side: top;
            margin-bottom: 10px;
            color: black;

        }
         .tableClass thead {
            background-color: #565b7e;
        }

        .heading {
            background-color: #c6cae4;
        }

        .tableClass th, .tableClass td {
            border: 1px solid black;
            text-align: center;
            padding: 12px 18px;

        }


        #closeBtn {
            align-self: flex-end;
            margin: 20px;
            padding: 8px 16px;
            background-color: #565b7e;
            text-decoration: none;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            color: white;
        }
